.buttons-list {
	@include reset-list;

	display: flex;
	align-items: center;
	flex-wrap: wrap;
	margin: 0 0 24px 0;
}

.buttons-list__item {
	width: calc(50% - 8px);
	margin: 0 16px 0 0;

	&:nth-child(2n) {
		margin: 0;
	}

	&--add-review {
		width: 159px;
		margin: 0;
	}
}

.buttons-list__link {
	display: block;
	width: 100%;
	padding: 11px 5px;
	border: 1px solid transparent;
}

.buttons-list__link-registration {
	background-color: transparent;
	border: 1px solid $primary-color;
	color: $primary-color;
}