.download {
	margin: 0 auto 120px auto;
	min-height: 564px;
	position: relative;
	overflow: hidden;
}

.download__wrapper {
	background-color: $white-color;
	border-radius: $radius-sixteen;

	padding: 122px 679px 122px 100px;
}

.download__title {
	max-width: 565px;
	font-size: 46px;
	line-height: 55.2px;
	color: #1a233f;

	margin: 0 0 24px 0;
	padding: 0 40px 0 0;
}

.download__flag {
	color: $light-blue-color;
}

.download__content {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}

.download__for-ios {
	margin: 0 12px 0 0;
}

.download__image-appstore {
	border-radius: 7px;
	display: block;
}

.download__button {
	display: flex;
	align-items: center;
	justify-content: center;
	min-width: 213px;
	min-height: 60px;
	padding: 15px 10px;
	margin: 0 12px 0 0;

	background-color: $white-color;
	border-radius: $radius-sixteen;
	color: $secondary-color;
	box-shadow: 0px 8px 24px -4px rgba(0, 0, 0, 0.1);

	font-size: 20px;
	line-height: 28px;
}

.download__image-qr {
	margin: 0 8px 0 0;
}

.download__picture {
	position: absolute;
	bottom: 26px;
  right: 84px;
}