.match {
	margin: 0 auto 64px auto;
}

.match__title {
	margin: 0 0 24px 0;
}

.match__figure {
	margin: 0 0 64px 0;
}

.match__picture {
	margin: 0 0 40px 0;
}

.match__caption {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}

.match__caption-text {
	margin: 0;
	font-size: 16px;
	line-height: 24px;
}

.match__caption-button {
	width: 400px;
	font-size: 20px;
	line-height: 28px;
	font-weight: $bold;
	padding: 16px 10px;
}

.match__article-title {
	margin: 0 0 24px 0;
	font-size: 20px;
	line-height: 28px;
}

.match__content {
	display: flex;
	justify-content: space-between;
}

.match__content-left {
	width: 312px;
}

.match__content-right {
	width: 1000px;
}

.match__content-title {
	font-size: 16px;
	line-height: 24px;
	font-weight: $bold;
	margin: 0 0 24px 0;
}

.match__content-text {
	font-size: 16px;
	line-height: 24px;
	margin: 0 0 24px 0;
}

.match__content-figure {
	margin: 0;
}