.social {
	@include reset-list;

	display: flex;
	flex-wrap: wrap;

	max-width: 166px;
}

.social__link {
	display: block;
}

.social__item {
	margin: 0 10px 0 0;

	&:nth-child(4n) {
		margin: 0;
	}
}

.social__image {
	fill: $white-color;
}