html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: $primary-font;
  font-weight: $regular;
  font-size: 16px;
  line-height: 24px;
  color: $primary-color;
  background-color: #f6f5f4;
  margin: 0;
  min-height: 100vh;
  min-width: 1512px;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

picture {
  display: block;
}
